/* global border box settings and font */
* {
    box-sizing: border-box; 
    padding:  0;
    margin: 0;
    font-family: monospace; 
}
/* defining h1 style and size,
    changing left margin to 75px lines header with nav bar
    font color and text shadow coordinate with .header-img color scheme
*/
.header h1 { /* my name at top of page */
    display: inline-flex;
    font-size: 80px;
    padding: 15px;
    margin-left: 75px;
    color: rgb(204, 166, 233);
    background-color: black;
    text-shadow: 2px 2px mintcream;
}

/* removes bullet from unordered list
    increased font size and weight to make nav easier to read
    adding text shadow to match established aesthetics of document
*/
.header div ul { /* nav bar beneath my name */
    list-style-type: none;
    background-color: rgb(248, 130, 191);
    font-weight: 800;
    font-size: 25px;
    text-shadow: 2px 2px yellow;
}

/* adding inline flex to keep items from interfering with header,
    items will also collapse to make for easier viewing on smaller screens,
    left margin of 85px to visually match line up with header
    pink background added to match header-img
*/
.header div ul li { /*  */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 85px;
    background-color: rgb(248, 130, 191);
}

/* set background for document body */
body {
    background-color: black;
}

/* removes text decoration from links,
    changes link color from default to black
 */
.menu a { /* nav bar links */
    color: black;
    text-decoration: none;
}

/* setting divider image header to take width of display,
   chose 190 px for image height, any larger or smaller and it is rendered oddly 
*/
img { /* image between header and page content beneath nav bar */ /*  */
    width: 100%;
    height: 190px;
}

/* setting header-img to relative to set up absolute positioning of PORTFOLIO text to sit on this image */
.header-img {
    position: relative;
}

/* absolute positioning to set PORTFOLIO onto the header img
    using 50% top to center vertically,
    25% left to pull eye from nav bar towards page content,
    using translate to help push text into a more visually pleasing space
    adding black text shadow and yellow background color to add contrast between PORTFOLIO and the image itself
 */
.header-text { /* PORTFOLIO text in the divider image between nav bar and page content */
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);   
    text-shadow: 3px 3px black;
    color: rgb(204, 166, 233);
    font-size: 85px;
    font-weight: 800;
    background-color: yellow;
}

/* using 85% width so content doesn't feel SO spread out but there isn't so much negative space it feels bare */
.content { /* page contents beneath header, nav bar and the image dividing the two */
    width: 85%;
    display: flex;  
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* transform rotate 310 degrees to make headings sit at a unique angle to point at their respective sections, NEEDS to be separate or else whole page rotates 
    text shadows to match page aesthetics */
h2 { /* the heading on the left side of the page correlating to each section */
    font-size: 28px;
    color: yellow;
    text-shadow: 2px 2px rgb(248, 130, 191);
    transform: rotate(310deg);
    margin-right: 150px;
}

/* set flex basis to auto so items flow horizonally, otherwise elements sit side by side */
.about-me, .work, .contact-me { /* h2 headings on left side of page */  
    display: flex;
    align-items: center; 
    flex: 1 1 auto;
    margin: 15px;
    margin-right: 10px;
    padding-right: 25px;
}

/* 30px left margin manually makes this section look more aligned */
.work { /* the page section containing project links and images (most are currently placeholders though) */
    margin-left: 30px;
}

/* need flex basis set to keep elements static 
    left padding to keep heading contents more separate from h2 elements themselves
*/
.about-me-content, .work-content, .contact-content, p { /* the information contained within each of the h2 headings */
    display: flex;
    flex: 1 1 0;
    margin: 25px;
    padding-left: 25px;
    color: rgb(150, 215, 207);
}

p { /* font in about me section */
    font-size: 16px;
    font-weight: 600;
}

/* profile pic set to these size parameters or else it warps or is too big compared to about me paragraph */
.profile-pic { /* profile picture in ABOUT ME section */
    display: flex;
    max-width: 200 px;
    max-height: 300px;
}

/* using a grid with columns to distribute content more equally than flex box was allowing */
.work-content { /* examples of projects and placeholders under WORK h2 heading */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* changing grid parameters for first element to satisfy challenge 2 requirements
    span 3 to lengthen image without warping it into a weird shape
*/
#challenge-1 { /* first project listed in grid of work examples */
    grid-column: span 3;
}

/* no link decoration to disrupt style settings */
.work-content a { /* links to project in WORK section */
    text-decoration: none;
}

/* adds borders to images in the WORK section to match established aesthetics */
.work-content img { /* images in the WORK section */
    border-style: solid;
    border-color: rgb(150, 215, 207);
}

/* will add a yellow shadow when hovering on images in WORK section */
.work-content img:hover { 
    box-shadow: 4px 4px rgb(204, 166, 233);
    border-color: yellow;
}

/* creating headers and setting style beneath each of the examples in WORK */
.placeholders header { /* headers beneath each image in WORK */
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: black;
    background: rgb(150, 215, 207);
    border: solid 10px;
}

/* headers will change color and background color when hovered upon, matches the colors in h2 headings on the left */
.placeholders header:hover {
    background: rgb(248, 130, 191);
    color: yellow;
    border: solid 10px black;
}

/* removing defauly link decorations and color in CONTACT ME */
.contact-me a { /* links in the CONTACT ME section of page */
    text-decoration: none;
    font-size: 22px;
    color: rgb(150, 215, 207);
}

/* determines viewing settings for mid-sized screens */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

/* determines viewing settings for small sized screens */
@media only screen and (min-width: 0px) and (max-width: 768px) {
    body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%
    }
  }